@import 'foundation';

body {
  background: #e2ebf3;
}
.wishTitle {
  text-decoration: underline;
  font-weight: bold;
}
.panel img {
  max-height: 250px;
  margin: 0 auto;
  border-radius: 3px;
}

button {
  margin: 2%;
  border: 1px solid black;
}

.panel {
  display: inline-block;
  vertical-align: top;
  margin: 3% 2%;
  width: 25%;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 5px black;
}
.delete { 
width: 60%;
}
.deleteTitle {
  text-decoration: underline;
  font-weight: bold;
  margin: 2% 3%;

}
.deleteTitle2 {
  text-decoration: underline;
  font-weight: bold;

}
.homeWrapper {
  width: 70%;
  margin: 5% auto;
  img {
    border: 2px solid #FDEEDA;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #FDEEDA;
    margin-top: 3%;
  }
}
.siteForm {
  width: 50%;
  margin: 5% auto;
}